ul{padding:0;margin:0;
	display:block;
}
li{padding:0;margin:0;
	display:block;
}
#u0 {
  margin:0px auto;
}
body {
  margin:0px;
  background-image:none;
  left:auto;
  margin-left:0;
  margin-right:0;
}
